/* general */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 900px;
    margin: 10px auto;
}

.message {
    padding: 7px 0;
}

/* Clear float */
.clear {
    clear:both;
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top:20px;

  $table-border-radius: 7px;

  caption {
    background: darkblue;
    color: white;
    font-size:110%;

    padding-top:7px;
    padding-bottom:7px;

    border-top-left-radius: $table-border-radius;
    border-top-right-radius: $table-border-radius;
  }

  thead {
    background: lightskyblue;
    color: white;
    th {
      font-weight:normal;
      font-size:110%;
    }
  }

  $tableBoderStyle: 1px solid lightgrey;

  th, td {
    border-bottom: $tableBoderStyle;
    border-right: $tableBoderStyle;
    border-left: $tableBoderStyle;
    padding: 7px 25px 7px 5px;
  }

  $light-greyish-blue: #f0f0f2;

  tbody tr:nth-child(even) {
    background: $light-greyish-blue;
  }
}


/* style common for all buttons  */
$light-darkcyan: #0AA7FF;

.button {
    font-size: 14px;
    background-color: $light-darkcyan;
    border-radius: 6px;
    height: 30px;
    padding: 2px 7px;

    &:hover {
      background-color: darkcyan;
    }
}

@import "form";
@import "header";
@import "login";
@import "menu";