

/** styling for input forms**/
form {
padding: 10px 10px 10px 10px;
}

fieldset {
  border: 1px thin;
  margin: 0;
  padding: 0;
  font: 14px Helvetica, Arial;
  float:left;
}

label {
    display:block;
    padding: 10px 10px 10px 10px
}

label input,textarea {
    width: 95%;
}

input,textarea {
    border-radius:4px;
}

input.button {
    font-weight:bold;
    margin-left:10px;
    margin-bottom:10px
}